nav ul li{
  display: inline;
  float: left;
  width: auto;
  height: auto;
  padding: 10px 20px;
  color: wheat;
}
header {
  background-color: powderblue;
}
#about{
  background: rgba(120,250,100,0.6);
}

#protfolio{
  background: url(http://wallpapershome.com/images/pages/pic_h/6487.jpg);
}

.pagination{

  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}
.contact{
  background-image: url(http://www.saar-hunsrueck-steig.de/cams/clients/shsteig/media/images_backgrounds_Bild_6.jpg);
  height: 350px;
  width:100%;
}


.whiteTextWithShadow{
  padding-top: 37%;
  color: white;
  text-shadow: 2px -2px grey; 
}

.target{
  margin-left: 7%;
}

h1 {
  color: salmon;
  font-family: fantasy;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

table {
  border-style: none;
  border-width: 1px;
  border-color: #42f5e3;
  background-color: #a5e8a8;
  padding-left: 80px;
  padding-right: 80px;

}

td {
  border: 10px groove #1c87c9;
}

p {
  color: tomato;
  font-family: monospace;
  font-size: larger;
  font-style: italic;
  border: 1px solid powderblue;
  padding: 10px;
}
.container {
  position: relative;
  width: 50%;
  height: 50%;
  float: left;
}
.divdisplay {
  display: inline;
}

.image {
  opacity: 1;
  display: block;
  width: 10%;
  height: 10%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.text {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.myTweetsContainer {
  display: flex;
  justify-content: space-around;
  background-color: DodgerBlue;
  float: right;
}

