nav ul li{
  display: inline;
  float: left;
  width: auto;
  height: auto;
  padding: 10px 20px;
  color: wheat;
}
body
{
  background-color:#eee
}
header {
  background-color: powderblue;
}
#about{
  background: rgba(120,250,100,0.6);
}

#protfolio{
  background-image: url(http://wallpapershome.com/images/pages/pic_h/6487.jpg);
}

.contact{
  background-image: url(http://www.saar-hunsrueck-steig.de/cams/clients/shsteig/media/images_backgrounds_Bild_6.jpg);
  height: 350px;
  width:100%;
}


.whiteTextWithShadow{
  padding-top: 37%;
  color: white;
  text-shadow: 2px -2px grey; 
}

.target{
  margin-left: 7%;
}

h1 {
  color: salmon;
  font-family: fantasy;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

td {
  border: 10px groove #1c87c9;
}

p {
  color: tomato;
  font-family: monospace;
  font-size: larger;
  font-style: italic;
  border: 1px solid powderblue;
  padding: 10px;
}
.container {
  position: relative;
  width: 50%;
  height: 50%;
  float: left;
}
.divdisplay {
  display: inline;
}

.image {
  opacity: 1;
  display: block;
  width: 10%;
  height: 10%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.text {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.myTweetsContainer {
  display: flex;
  justify-content: space-around;
  background-color: DodgerBlue;
  float: right;
}


.repoNavigationButton{
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  margin-left: 15%;
  text-align: center;


}
.wrap
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-items:center;
  max-width:fit-content(20em);
  justify-content:space-around;
}
.tile
{
  width:380px;
  height:380px;
  margin:10px;
  background-color:#99aeff;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:visible;
  color:white;
  font-family:'Roboto';

}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{

  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}


@media (max-width: 1000px) {
  .wrap {
   flex-direction: column;
    width:400px;
  }
}
